*{
    margin:0;
    padding: 0;
 }
 h1{
    text-align: center;
    margin-top: 10px;
 }
 h1:hover{
    text-shadow: 10px 10px 10px black;
}
 nav{
    width: 100%;
    background-color: rgba(141, 141, 141,0.4);
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
 
 }
 .home,.button1,.button2{
    background-color: white;
    color:black;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    margin-right: 10px;
    transition: 0.15s;
   
    }

.home:hover{
    background-color: aqua;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
    transition: 0.15s;
}
a:active{
    color: red;
}
.button1:hover{
    background-color: aqua;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    

}
.button2:hover{
    background-color: aqua;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

body{
    background-image: url(../images/family2.jpg);
    background-size: cover;
}
.div1{
    background-color:rgb(225, 225, 225, 0.6);
    width: 1000px;
    border: rgba(225, 225, 225, 0.452);
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    text-shadow: 5px 5px 5px rgba(87, 86, 86, 0.822);

}
.div1 .img1{
    border-radius: 20%;
    height: 500px;
    width: 500px;
    display: block;
    object-fit: fill;
    margin-right: auto;
    margin-left: auto;
    transition: 0.15s;
}
picture {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(0, 4, 59);
  }
  .family{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .fam {
    position: relative;
    flex: 1;
    max-width: 350px;
    height: 300px;
    margin: 20px;
    background-color: #333335;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fam:hover .overlay {
    opacity: 1;
  }
  
  .overlay p {
    color: #fff;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: justify;
  }
.fam{
    position: relative;
    flex: 1;
    max-width: 350px;
    height: 300px;
    margin: 20px;
    background-color: #ccc;
}
.mother,.father,.brother{
    display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
}

  @media screen and (max-width:1000px) {
    .family{
        flex-direction: column;
        align-items: center;
    }
    .fam{
        width: 350px;
        height: 300px;
        margin: 20px;
    }
    .overlay{
        padding: 40px;
    }
    .mother{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .father{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
    }.brother{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
  }
footer{
    width: 100%;
    background-color: rgba(37, 37, 37, 0.8);
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    justify-items: start;

}

footer p{
    color: rgb(255, 255, 255);
}
footer a{
    margin-left: 3px;
    color: rgb(255, 255, 255);
}